body {
    margin: 0;
    font-family: 'Open Sans';
}

main {
    min-height: calc(100vh - 550px);
}

a {
    text-decoration: none;
    transition: all .3s ease;
    &:hover {
        color: #82176d;
    }
}

main {
    text-align: center;
}

h2, h3, h4, h5, p, a, li {
    color: #222;
}

ul {
    padding: 0;
}

li {
    display: block;
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media only screen and (min-width: 768px) {
        max-width: 720px;
    }
    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    @media only screen and (min-width: 1400px) {
        max-width: 1200px;
    }
}

section {
    padding: 40px 0;
}

button, .btn {
    font-size: 18px;
    margin-top: 15px;
    border: 1px solid #82176d;
    background: #82176d;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        background: #630a52;
    }
}

.btn-clear {
    background: #D60000;
    &:hover {
        background: #d11b1b;
    }
}

.add-to-basket {
    width: 100%;
}

.section-title {
    font-weight: 400;
    color: #82176d;
}

.error {
    color: #D60000;
}

.success {
    p {
        color: green;
    }
}

.logo {
    font-family: 'Lobster', 'Open Sans';
    font-size: 40px;
}
