body {
  margin: 0;
  font-family: 'Open Sans'; }

a {
  text-decoration: none; }

main {
  text-align: center; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.error {
  color: red; }

.success {
  color: green; }

header {
  height: 100px;
  background: #f4768a;
  margin-bottom: 40px; }
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 10px;
    height: 100%; }
    header .header-content h1 {
      font-family: 'Lobster', 'Open Sans'; }
    header .header-content a {
      color: white; }
      header .header-content a.basket {
        color: #f4768a;
        background: white;
        padding: 10px 20px;
        border-radius: 3px; }

section.product-section .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (min-width: 380px) {
    section.product-section .products .product {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media only screen and (min-width: 560px) {
    section.product-section .products .product {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
      max-width: 33.33%; } }
  @media only screen and (min-width: 768px) {
    section.product-section .products .product {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; } }
  @media only screen and (min-width: 1024px) {
    section.product-section .products .product {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; } }
  section.product-section .products .product .product-card {
    background: pink;
    padding: 10px;
    margin: 10px;
    text-align: center; }
    section.product-section .products .product .product-card img {
      width: 100%; }
