header {
    height: 100px;
    background: #f4768a;
    margin-bottom: 40px;
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
        height: 100%;
        a {
            color: white;
            &.basket {
                color: #f4768a;
                background: white;
                padding: 10px 20px;
                border-radius: 3px;
                border: 1px solid white;
                &:hover {
                    background: transparent;
                    color: white;
                }
            }
        }
    }
}
